In [56]:
import pandas as pd
import numpy as np

In [14]:
pd.set_option('display.max_columns', 21)

In [66]:
df = pd.read_csv('../data/customer_churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [67]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [27]:
used_columns = ['gender', 'SeniorCitizen', 'Dependents', 'tenure']

In [28]:
df = df[used_columns]

In [29]:
# translating values
gender = {
    'Male': 0,
    'Female': 1
}

dependents = {
    'No': 0,
    'Yes': 1
}

In [32]:
df = df.replace({'gender': gender, 'Dependents': dependents})

In [34]:
df

      gender  SeniorCitizen  Dependents  tenure
0          1              0           0       1
1          0              0           0      34
2          0              0           0       2
3          0              0           0      45
4          1              0           0       2
...      ...            ...         ...     ...
7038       0              0           1      24
7039       1              0           1      72
7040       1              0           1      11
7041       0              1           0       4
7042       0              0           0      66

[7043 rows x 4 columns]

In [54]:
df.to_csv('customer_churn_processed.csv')

In [55]:
np.savetxt('customer_churn_processed.txt', df.values, fmt='%d')

In [68]:
two_dimension_df = pd.read_csv('../data/customer_churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')[['tenure', 'TotalCharges']]

In [184]:
def find_nullable_values(string):
    return not bool(string.strip())

In [178]:
null_values_index = two_dimension_df[two_dimension_df['TotalCharges'].apply(convert)].index
two_dimension_df.drop(null_values_index, inplace=True)

In [182]:
two_dimension_df['TotalCharges'] = two_dimension_df['TotalCharges'].apply(lambda x: float(x))

In [186]:
np.savetxt('../data/customer_churn/two_dimension_df.txt', two_dimension_df.values)